<h1>Your transfer from <strong><%= @transfer.source_blog %></strong> to <strong><%= @transfer.destination_blog %></strong> is complete.</h1>

<p>Your transfer from <strong><%= @transfer.source_blog %></strong> to <strong><%= @transfer.destination_blog %></strong> is complete.</p>
<p>You transferred <%= @transfer.posts.count %> posts from the tag <%= @transfer.source_tag %> on <%= @transfer.source_blog %> to the drafts of <%= @transfer.destination_blog %> <%= "with the tag #{@transfer.destination_tag}" if @transfer.destination_tag %></p>

