.row
  .col-md-6
    %h2{ style: 'text-align: center;' } Source
  .col-md-6.destination
    %h2{ style: 'text-align: center;' } Destination
  .col-md-4.offset-md-1.source
    %p
      %strong Consumer Key
      = @transfer.source_consumer_key
    %p
      %strong Consumer Secret
      = @transfer.source_consumer_secret
    %p
      %strong Token
      = @transfer.source_token
    %p
      %strong Token Secret
      = @transfer.source_token_secret
    %p
      %strong Blog
      = @transfer.source_blog
    %p
      %strong Tag
      = @transfer.source_tag
  .col-md-4.offset-md-2.destination
    %p
      %strong Consumer Key
      = @transfer.destination_consumer_key
    %p
      %strong Consumer Secret
      = @transfer.destination_consumer_secret
    %p
      %strong Token
      = @transfer.destination_token
    %p
      %strong Token Secret
      = @transfer.destination_token_secret
    %p
      %strong Blog
      = @transfer.destination_blog
    %p
      %strong Tag
      = @transfer.destination_tag
  .col-md-12
    %p{ style: 'text-align: center;' }
      %strong Email
      = @transfer.owner_email
  .col-md-12.progress
    - percentage = 50 if @transfer.posts.count == 0
    - remaining = @transfer.posts.where(reblogged: false).count.to_f
    - total = @transfer.posts.count
    - current = total - remaining
    - percentage ||= current / total * 50
    - percentage += 50
    - if percentage < 100
      #transfer-progress.progress-bar.progress-bar-striped.progress-bar-animated{ data: { transfer_id: @transfer.id }, style: "width: #{percentage}%;" }
        = percentage.to_i.to_s + ?% if percentage != 0
    - else
      #transfer-progress.progress-bar.progress-bar-success{ data: { transfer_id: @transfer.id }, style: 'width: 100%;' }
        100%
